body{
    background-color: hsl(225, 100%, 94%);
}
.container{
    width: 450px;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
}
.img1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 250px;
    width: 450px;
}
.h1{
    text-align: center;
    color: hsl(223, 47%, 23%);
}
.p1{
    text-align: center;
    width: 400px;
    font-size: 20px;
    margin-left: 20px;
    color: hsl(224, 23%, 55%);
}
.container2{
    width: 330px;
    height: 85px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin: auto;
}
.img2{
    margin-top: 18px;
    margin-left: 20px;
}
.p2{
    color: hsl(223, 47%, 23%);
    margin-top: -50px;
    margin-left: 80px;
}
.p3{
    color: hsl(224, 23%, 55%);
    margin-left: 80px;
    margin-top: -10px;
}
.cov a{
    color: blue;
    margin-left: 250px;
}
.cov{
    margin-top: -47px;
    font-size: 20px;
}
.a1:hover{
    text-decoration: none;
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}
button{
    font-size: 20px;
    border: 0px solid;
    height: 50px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
    width: 350px;
    margin-top: 20px;
    margin-left: 50px;
    display: block;
}
button:hover{
    background-color: hsl(223, 47%, 23%);
    cursor: pointer;
}
.a2{
    margin-top: 100px;
}
.conv a{
    text-decoration: none;
    font-size: 20px;
    color: hsl(224, 23%, 55%);
}
.conv{
    margin-top: 20px;
    margin-left: 170px;
}
.conv a:hover{
    color: black;
}
@media screen and (max-width: 394px) {
    .container{
        width: 300px;
    }
    .img1{
        width: 300px;
        height: 200px;
    }
    .p1{
        margin-left: 25px;
        width: 250px;
    }
    button{
        margin-left: 25px;
        width: 250px;
    }
    .a2{
        margin-left: -80px;
    }
    .container2{
        width: 250px;
    }
    .img2{
        width: 40px;
        margin-top: 25px;
    }
    .p2{
        margin-left: 70px;
        font-size: 15px;
        margin-top: -40px;
    }
    .p3{
        font-size: 13px;
        margin-top: -10px;
        margin-left: 70px;
    }
    .cov{
        font-size: 17px;
        margin-left: -70px;
    }
}
@media screen and (max-width: 500px) {
    .container{
        width: 300px;
    }
    .img1{
        width: 300px;
        height: 200px;
    }
    .p1{
        margin-left: 25px;
        width: 250px;
    }
    button{
        margin-left: 25px;
        width: 250px;
    }
    .a2{
        margin-left: -80px;
    }
    .container2{
        width: 250px;
    }
    .img2{
        width: 40px;
        margin-top: 25px;
    }
    .p2{
        margin-left: 70px;
        font-size: 15px;
        margin-top: -40px;
    }
    .p3{
        font-size: 13px;
        margin-top: -10px;
        margin-left: 70px;
    }
    .cov{
        font-size: 17px;
        margin-left: -70px;
    }
}
@media screen and (max-width: 600px) {
    .container{
        width: 300px;
    }
    .img1{
        width: 300px;
        height: 200px;
    }
    .p1{
        margin-left: 25px;
        width: 250px;
    }
    button{
        margin-left: 25px;
        width: 250px;
    }
    .a2{
        margin-left: -80px;
    }
    .container2{
        width: 250px;
    }
    .img2{
        width: 40px;
        margin-top: 25px;
    }
    .p2{
        margin-left: 70px;
        font-size: 15px;
        margin-top: -40px;
    }
    .p3{
        font-size: 13px;
        margin-top: -10px;
        margin-left: 70px;
    }
    .cov{
        font-size: 17px;
        margin-left: -70px;
    }
}
@media screen and (max-width: 700px) {
    .container{
        width: 300px;
    }
    .img1{
        width: 300px;
        height: 200px;
    }
    .p1{
        margin-left: 25px;
        width: 250px;
    }
    button{
        margin-left: 25px;
        width: 250px;
    }
    .a2{
        margin-left: -80px;
    }
    .container2{
        width: 250px;
    }
    .img2{
        width: 40px;
        margin-top: 25px;
    }
    .p2{
        margin-left: 70px;
        font-size: 15px;
        margin-top: -40px;
    }
    .p3{
        font-size: 13px;
        margin-top: -10px;
        margin-left: 70px;
    }
    .cov{
        font-size: 17px;
        margin-left: -70px;
    }
}
@media screen and (max-width: 800px) {
    .container{
        width: 300px;
    }
    .img1{
        width: 300px;
        height: 200px;
    }
    .p1{
        margin-left: 25px;
        width: 250px;
    }
    button{
        margin-left: 25px;
        width: 250px;
    }
    .a2{
        margin-left: -80px;
    }
    .container2{
        width: 250px;
    }
    .img2{
        width: 40px;
        margin-top: 25px;
    }
    .p2{
        margin-left: 70px;
        font-size: 15px;
        margin-top: -40px;
    }
    .p3{
        font-size: 13px;
        margin-top: -10px;
        margin-left: 70px;
    }
    .cov{
        font-size: 17px;
        margin-left: -70px;
    }
}
/* This Is The End Of My Code, Please Do not Manipulate This Code */

